<a href="https://colab.research.google.com/github/SWATHI-MUTHU/Python_Workout_Notes/blob/main/Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Pandas
import pandas as pd

In [ ]:
dm=pd.read_csv("/content/services (1).csv")

In [ ]:
dm.head()

In [ ]:
dm.tail()

In [ ]:
dm.sample()

In [ ]:
dm.sample()

In [ ]:
dm.sample(5)

In [ ]:
dm.head(20)

In [ ]:
dm.columns

In [ ]:
dm.dtypes

In [ ]:
dm.info()

In [ ]:
dm["location_id"]

In [ ]:
dm[["location_id","email"]]

In [ ]:
dm.isnull()

In [ ]:
dm.isnull().sum()

id                          0
location_id                 0
program_id                 23
accepted_payments          22
alternate_name             22
application_process         0
audience                    9
description                 0
eligibility                 6
email                      22
fees                        2
funding_sources             2
interpretation_services    22
keywords                    2
languages                  22
name                        0
required_documents         22
service_areas               2
status                      0
wait_time                   4
website                    21
taxonomy_ids               22
dtype: int64

In [ ]:
dm.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
dtype: bool

In [ ]:
dm.duplicated().sum()

0

In [ ]:
dm.drop_duplicates(inplace=True)

In [ ]:
df.describe()

NameError: name 'df' is not defined

In [ ]:
import pandas as pd

In [ ]:
dt=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [ ]:
dt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
dt.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
dt.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
dt.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
dt.dtypes=="object"

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [ ]:
obj=dt.dtypes=="object"

In [ ]:
dt.dtypes[obj].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [ ]:
dt["PassengerId"][50:60]

50    51
51    52
52    53
53    54
54    55
55    56
56    57
57    58
58    59
59    60
Name: PassengerId, dtype: int64

In [ ]:

dt[["Name","Ticket"]]

                                                  Name            Ticket
0                              Braund, Mr. Owen Harris         A/5 21171
1    Cumings, Mrs. John Bradley (Florence Briggs Th...          PC 17599
2                               Heikkinen, Miss. Laina  STON/O2. 3101282
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)            113803
4                             Allen, Mr. William Henry            373450
..                                                 ...               ...
886                              Montvila, Rev. Juozas            211536
887                       Graham, Miss. Margaret Edith            112053
888           Johnston, Miss. Catherine Helen "Carrie"        W./C. 6607
889                              Behr, Mr. Karl Howell            111369
890                                Dooley, Mr. Patrick            370376

[891 rows x 2 columns]

In [ ]:

#craete new column:
dt["new_col"]=0

In [ ]:






dt["new_col"]=dt["Name"]+dt["Ticket"]

In [ ]:

dt.sample()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
363,364,0,3,"Asim, Mr. Adola",male,35.0,0,0,SOTON/O.Q. 3101310,7.05,NaN,S,"Asim, Mr. AdolaSOTON/O.Q. 3101310"

In [ ]:









age=(dt["Age"]>18)

In [ ]:
dt[age]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,"Braund, Mr. Owen HarrisA/5 21171"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,"Heikkinen, Miss. LainaSTON/O2. 3101282"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Futrelle, Mrs. Jacques Heath (Lily May Peel)11..."
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,"Allen, Mr. William Henry373450"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,"Rice, Mrs. William (Margaret Norton)382652"
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,"Montvila, Rev. Juozas211536"
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,"Graham, Miss. Margaret Edith112053"
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,"Behr, Mr. Karl Howell111369"
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,"Dooley, Mr. Patrick370376"

In [ ]:
fare_30=dt["Fare"]>30

In [ ]:
dt[fare_30]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,new_col
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,"Futrelle, Mrs. Jacques Heath (Lily May Peel)11..."
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,"McCarthy, Mr. Timothy J17463"
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,"Nasser, Mrs. Nicholas (Adele Achem)237736"
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,"Andersson, Mr. Anders Johan347082"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S,"Wick, Mrs. George Dennick (Mary Hitchcock)36928"
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,"Sage, Miss. Dorothy Edith ""Dolly""CA. 2343"
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,"Roebling, Mr. Washington Augustus IIPC 17590"
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,"Beckwith, Mrs. Richard Leonard (Sallie Monypen..."
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)1..."

In [ ]:
(dt["Age"]>18)&(dt["Sex"]=="Female")

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [ ]:
dt[(dt["Age"]>18)&(dt["Sex"]=="Male")]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, new_col]
Index: []

In [ ]:
dt['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [ ]:
max_fare=max(dt["Fare"])

In [ ]:
dt["Fare"]==max_fare

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [ ]:
dt[dt["Fare"]==max_fare]["Name"]

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [ ]:
min_fare=min(dt["Fare"])

In [ ]:
dt["Fare"]==min_fare

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Fare, Length: 891, dtype: bool

In [ ]:
dt[dt["Fare"]==min_fare]["Name"]

179                 Leonard, Mr. Lionel
263               Harrison, Mr. William
271        Tornquist, Mr. William Henry
277         Parkes, Mr. Francis "Frank"
302     Johnson, Mr. William Cahoone Jr
413      Cunningham, Mr. Alfred Fleming
466               Campbell, Mr. William
481    Frost, Mr. Anthony Wood "Archie"
597                 Johnson, Mr. Alfred
633       Parr, Mr. William Henry Marsh
674          Watson, Mr. Ennis Hastings
732                Knight, Mr. Robert J
806              Andrews, Mr. Thomas Jr
815                    Fry, Mr. Richard
822     Reuchlin, Jonkheer. John George
Name: Name, dtype: object

In [ ]:
dt["Sex"].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [ ]:
dt["Sex"].unique()

array(['male', 'female'], dtype=object)

In [ ]:
dt["Sex"].nunique()

2

In [ ]:
d={
    "key1":[1,2,3,4],
    "key2":[4,5,6,7],
    "key3":[7,8,9,10]
}

In [ ]:
d

{'key1': [1, 2, 3, 4], 'key2': [4, 5, 6, 7], 'key3': [7, 8, 9, 10]}

In [ ]:
type(d)

dict

In [ ]:
pd.DataFrame(d)

   key1  key2  key3
0     1     4     7
1     2     5     8
2     3     6     9
3     4     7    10

In [ ]:
dt.drop('Sex',axis= 1 ,inplace=True)

In [ ]:
dt.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
dt.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
dt.drop(2,inplace=True)

In [ ]:
dt.head()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,38.0,1,0,PC 17599,71.2833,C85,C
4,5,0,3,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,54.0,0,0,17463,51.8625,E46,S

In [ ]:
dt.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          686
Embarked         2
dtype: int64

In [ ]:
dt.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          686
Embarked         2
dtype: int64

In [ ]:
# Total fare paid by survived and not survived
dt.groupby("Survived").sum()["Fare"]

Survived
0    12142.7199
1    16490.2044
Name: Fare, dtype: float64

In [ ]:
# fillna()
mean_age=dt["Age"].mean()
mean_age

29.696867977528086

In [ ]:
dt["Age"].fillna(mean_age)

0      22.000000
1      38.000000
4      35.000000
5      29.696868
6      54.000000
         ...
886    27.000000
887    19.000000
888    29.696868
889    26.000000
890    32.000000
Name: Age, Length: 889, dtype: float64

In [ ]:
dt.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          686
Embarked         2
dtype: int64

In [ ]:
#concat -Merging 2 row table
dt1=dt[["Age","Survived"]][1:5]
dt2=dt[["Age","Survived"]][6:10]

In [ ]:
dt1

    Age  Survived
1  38.0         1
2  26.0         1
3  35.0         1
4  35.0         0

In [ ]:
dt2

    Age  Survived
6  54.0         0
7   2.0         0
8  27.0         1
9  14.0         1

In [ ]:
ds=pd.concat([dt1,dt2])
ds

    Age  Survived
1  38.0         1
2  26.0         1
3  35.0         1
4  35.0         0
6  54.0         0
7   2.0         0
8  27.0         1
9  14.0         1

In [ ]:
#apply()
def inr_con(a):
  return a*30

In [ ]:
dt["inr_fare"]=dt["Fare"].apply(inr_con)

In [ ]:
dt.sample()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,inr_fare
225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.0,0,0,PP 4348,9.35,NaN,S,280.5

In [ ]:
def train(s):
  if s<10:
    return "class3"
  elif 10<s<20:
    return "class2"
  else:
     return "class1"

In [ ]:
dt["train_fare"]=dt["Fare"].apply(train)

In [ ]:
dt.head(50)

NameError: name 'dt' is not defined

In [ ]:
#Merge
d2={"key1":[1,2,45,6,67],
    "Key4":[56,5,6,7,8],
    "Key5":[3,56,5,6,6]
    }
data2=pd.DataFrame(d2)

In [ ]:
data1 = pd.DataFrame({'key1':[1,2,4,5,6],
                      'key2':[4,5,6,7,8],
                      'key3':[3,4,5,6,6]
})

In [ ]:
pd.merge(data1,data2)

   key1  key2  key3  Key4  Key5
0     1     4     3    56     3
1     2     5     4     5    56
2     6     8     6     7     6